// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: arial;
}
 a {
   color: #23689b;
   text-decoration: none;
   &:hover {
     color: black;
   }
 }

 .add-task {
  border-top: 1px solid grey;
  padding: 10px;
}

.add-task i {
 color: #23689b;
}
